* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "montserrat";
}

form {
    padding: 5vmax;
}

input {
    display: block;
    padding: 1vmax 3vmax 1vmax 0.5vmax;
    margin-bottom: 1vmax;
    font-size: 2vmax;
}

button {
    padding: 1vmax 2vmax;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-size: 2vmax;
}

ol {
    padding: 2vmax;
}

li {
    font-size: 1.3vmax;
}
